.reveal-item.visible {
    opacity: 1;
    transform: translateY(0);
}
.visible {
    visibility: visible;
}
.reveal-item {
    opacity: 0;
    transform: translateY(30px);
    transition: all 1.2s cubic-bezier(0.16, 1, 0.3, 1);
}
.brand-grid {
    background-image: linear-gradient(rgba(148, 163, 184, 0.15) 1px, transparent 1px), linear-gradient(90deg, rgba(148, 163, 184, 0.15) 1px, transparent 1px);
    background-size: 22px 22px;
    mask-image: radial-gradient(circle at center, black 25%, transparent 70%);
}