@import "tailwindcss";

@theme {
  --font-sora: "Sora", sans-serif;
}
@utility font-serif-elegant {
  font-family: "Cormorant Garamond", serif;
}
@utility font-ancient{
  font-family: "Cinzel", serif; 
}
@layer base {
  body {
    font-family: var(--font-sora);
  }
}

@layer components {
  .auth-input {
    @apply w-full border border-slate-300 rounded-md px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-orange-400 focus:border-orange-400;
  }
}